<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hello world</title>
  </head>
  <body>
    <h1>Hello {$name}</h1>
  </body>
</html>
